@media all and (min-width:865px) {
    .showcase{
        padding: 260px 0;

        &-card{
            grid-template-columns: 40% 60%;
            overflow: visible;

            .img-wrap{
                overflow: hidden;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                img{
                    height: 100%;
                }
            }
            .content-wrap{
                padding: 40px 40px 30px;
                position: relative;

                h1{
                    font-size: 1.3125rem;
                }
            }
        }

        .share-popup.mobile{
            display: none;
        }
        .share-popup.desktop{
            display: block;
            position: absolute;
            width: 100%;
            max-width: 248px;
            top: 125px;
            right: -65px;
            border-radius: 10px;
            padding: 15px;

            &::before{
                content: "";
                border-left: 13px solid transparent;
                position: absolute;
                bottom: -12px;
                width: 0;
                height: 0;
                border-top: 12px solid $font-color1;
                border-right: 13px solid transparent;
                left: 50%;
                margin-left: -10px;
            }

            ul{
                justify-content: center;
                align-items: center;
            }

        }
    }
}